<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/layui/css/layui.css"/>
		<script src="/layui/layui.js"></script>
		<script src="/bootstrap-3.3.7-dist/js/jquery.min.js"></script>
		<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		
	</head>
	<body>
	
	<!-- 导航栏 -->
		<nav class="navbar navbar" >
		    <div class="container-fluid" >
		        <!--       表头-->
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <!--            标题-->
		            <a class="navbar-brand" href="#">0x0博客</a>

		        </div>
				

		
		        <!--        右上边提示栏-->
		        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		            <ul class="nav navbar-nav navbar-right">
		                <li><a href="#">发博客</a></li>
		                <li class="dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>[[${ads}]]</span><span class="caret"></span></a>
		                    <ul class="dropdown-menu">
		                        <li><a href="/logout">注销</a></li>
		                        <li><a href="#">其他</a></li>
		                        <li role="separator" class="divider"></li>
		                        <li><a href="#">开发中</a></li>
		                    </ul>
		                </li>
		            </ul>
		        </div>
		    </div>
		</nav>
		<!-- 主体 -->
		<div class="container">
			<div class="row">
				<!-- 为空 -->
				<div class="col-sm-0.5" align="center" style="border: 2px #ffff00;">

				</div>
				
				<div class="col-sm-8" >
					
					<div>
					
					  <!--开头标签页-->
					  <ul class="nav nav-tabs" role="tablist">
					    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">主页</a></li>
					    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
					    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
					    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
					  </ul>
					
					  <!-- 具体内容 -->
					  <div class="tab-content">
					    <div role="tabpanel" class="tab-pane active" id="home">
						
						<div class="media" style=" margin: 32px;">
								<h3>超高属性解放斩</h3>
								<a href="#">
								<div class="media-left">
								<img class="media-object" src="image/kkk.jpg" style="width:150px; height: 74px;" alt="...">
								</div>
								<div class="media-body">
						    <h4 class="media-heading">题目</h4>
						   <span>内容sdasdasdasdasdasdasdasdsdasdasdasdasdasdasdasdsdasdasdasdasdasdasdasdsdasdasdasdasdasdasd
						   sdasdasdasdasdasdasdasdsdasdasdasdasdasdasdasdsdasdasdasdasdasdasdasdsdasdasdasdasdasdasdasdasd1</span>
						  </div>
						  </a>
						  <span class="glyphicon glyphicon-heart"></span>
						  <span class="layui-icon layui-icon-praise">1</span>
						  <a class="layui-icon layui-icon-reply-fill" data-toggle="collapse" href="#collapseExample1">22</a>
						  
						  <div class="collapse" id="collapseExample1">
						    <div class="well">
								<!-- 套娃中，套面板 -->
						     <div class="panel panel-default">
						      
						       <div class="panel-body">
									
										<div class="row"> 
											<div class="col-sm-2"><img th:src="@{/image/lsnv.jpg}" style="width: 100%; height: 100%;">
											
											</div>
											<div class="col-sm-10">
												
												111</div>
										</div>
										
									
						       </div>
						     </div>
						    </div>
						  </div>
						</div>
						
						
						<div class="media" style=" margin: 32px;">
							<h3>高属性解放斩</h3>
								<a href="#">
								<div class="media-left">
								<img class="media-object" src="image/kkk.jpg" style="width:150px; height: 74px;" alt="...">
								</div>
								<div class="media-body">
						    <h4 class="media-heading">题目</h4>
						   <span>内容</span>
						  </div>
						  </a>
						</div>



						
						
						
						
						</div>
					    <div role="tabpanel" class="tab-pane" id="profile">...</div>
					    <div role="tabpanel" class="tab-pane" id="messages">...</div>
					    <div role="tabpanel" class="tab-pane" id="settings">...</div>
					  </div>
					
					</div>
		
			
				  </div>
				
				<div class="col-sm-3" align="center">
					<div class="list-group" style="margin-top: 71px;">
					  <a href="#" class="list-group-item " >
						  <span class="glyphicon glyphicon-user "></span>
					   创作中心
					  </a>
					  <a href="#" class="list-group-item">文章</a>
					  <a href="#" class="list-group-item">评论</a>
					  <a href="#" class="list-group-item">开发中</a>
					  <a href="#" class="list-group-item">开发中</a>
					</div>
				</div>
			</div>
			
		</div>
	</body>
</html>
