<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查询哦</title>
</head>
<link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/layui/css/layui.css"/>
<script src="/layui/layui.js"></script>
<script src="/bootstrap-3.3.7-dist/js/jquery.min.js"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
<style>
    body{
        background: url("/layui/photo/dim.jpg") no-repeat ;
        background-size:100% 100%;
        background-attachment: fixed;
    }
    .media{
        border:0px solid #b3adad;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        position: relative;
        background-color:rgba(255,255,255,0.1);
        height: 231px;
    }
    .media-heading{
        font-size: 31px;
        display: inline;
        margin-left: 27px;
    }

</style>
<body>
<!-- 导航栏 -->
<div th:replace="~{commons/blogcommon::blogtopbar(active=1)}"></div>
    <div class="container">
<!--        搜索框-->
        <div class="row">
            <div class="col-sm-5 " style="text-align: end;
                         margin-top: 4px;
                     font-size: 30px;" >
                博客搜索
            </div>
                <div class="col-sm-6">
                    <form th:action="@{/tosearch}" class="navbar-form " >
                     <div class="form-group">
                        <input type="text" class="form-control" name="text"
                               placeholder="请输出内容"
                               th:value="${textcontent}">
                     </div>
                     <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                 </div>

        </div>
<!--        显示列表-->
        <div class="row">
            <div class=" col-sm-11">

                <!-- 标签页 -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active" style="width: 100px;text-align: center;">
                        <a href="#blog" aria-controls="blog" role="tab" data-toggle="tab">博客</a></li>
                    <li role="presentation"  style="width: 100px;text-align: center;">
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">用户</a></li>

                </ul>

                <!-- 内容位置 -->
                <div class="tab-content">

<!--                    博客-->
                    <div role="tabpanel" class="tab-pane active" id="blog">
                            <!--搜索内容为空的时候不能显示-->
                        <div th:if="${nullinput ne 0}">

                                <!--搜索结果不为空-->
                            <div th:if="${nullblog ne 0}">
                                <div style="margin-top: 38px;">
                                    <div class="media" th:each="blog : ${blogs}"
                                         style="background: rgba(218,218,218,0.5);border-radius: 15px;">
                                        <a th:href="@{/toblogmessage/}+${blog.getId()}" style="text-decoration:none;">
                                            <div class="media-body" style="width: 70%;">
                                                <h4 class="media-heading"  th:text="${blog.getTitle()}">Media heading</h4>
                                                    <div style="font-size: 20px; margin: 30px;margin-left: 50px;height: 50px;
                                                     font-weight: lighter;padding-left: 25px; color: #0a8652;"
                                                        th:utext="${blog.getContent()}"> :</div>
                                                    </div>
                                            <div class="media-right" >
                                                <img class="media-object" th:src="@{${blog.getPicture()}}" alt="..."
                                                     style="width: 328px; height: 195px; margin-top: 6px;
                                                                   margin-right: 8px;border-radius: 20px;">
                                            </div>

                                            <div class="media-bottom" style="margin-left: 10px;">
                                                <span class="layui-icon layui-icon-praise great" th:text="${blog.getBgreat()}"></span>
                                                <span class="layui-icon layui-icon-read" th:text="${blog.getView()}"></span>
                                                <span th:text="${#dates.format(blog.getCreatetime(),'yyyy-MM-dd HH:mm')}">111</span>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                                <!--分页-->
                                  <div th:if="${nullinput eq 0}">单推人</div>
                                    <div th:if="${nullinput ne 0}">
                                         <nav aria-label="Page navigation" >
                                              <ul class="pagination">

                                            <li>
                                                <a th:href="'/tosearch?pageNum=1'">首页</a>
<!--                                                <a th:href="@{/tosearch(text=${textcontent})}+'/pageNum='+${currentpage}">test</a>-->
                                            </li>
                                            <li>
                                                <!-- 上一页 -->
                                            <li th:if="${currentpage eq 1}" class="disabled">
                                                <a class="Previous"   aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>

                                            <li th:if="${currentpage ne 1}">
                                                <a class="Previous"
                                                   th:href="@{/tosearch(text=${textcontent})}+'/pageNum='+${currentpage-1}"
                                                   aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>

                                            </li>
                                            <li th:each="pageNum:${#numbers.sequence(1,pagecount)}">
                                                <a th:href="@{/tosearch(text=${textcontent})}+'/pageNum='+${pageNum}"
                                                   th:text="${pageNum}" th:if="${pageNum eq currentpage}"
                                                   th:style="'font-weight:bold;background: #6faed9;'"></a>
                                                <a th:href="@{/tosearch(text=${textcontent})}+'/pageNum='+${pageNum}"

                                                   th:text="${pageNum}" th:if="${pageNum ne currentpage}"  ></a>

                                            </li>
                                            <!--下一页-->
                                            <li  th:if="${currentpage ne pagecount}">
                                                <a th:href="'/tosearch?pageNum='+${currentpage +1}"  aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>

                                            <li  th:if="${currentpage eq pagecount}" class="disabled">
                                                <a  aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                         </nav>
                                    </div>
                            </div>
                            <!--搜索结果为空-->
                            <div th:if="${nullblog eq 0}"><h2>搜索结果为空</h2></div>

                        </div>
                    </div>
                        <!--用户-->
                    <div role="tabpanel" class="tab-pane" id="profile">用户

                        <div th:if="${nulluser ne 0}">
                            <div class="media" th:each="user : ${users}">

                                <a th:href="@{/topersonpage/}+${user.getId()}">
                                <div class="media-left">
                                        <img class="media-object" th:src="@{${user.getUserpic()}}" alt="..." style="width:90px;height: 90px;border-radius: 30px;">
                                </div>
                                <div class="media-body" style="width: 70%;">
                                    <h4 class="media-heading" th:text="${user.getName()}"></h4>
                                    <br>
                                    博客点赞数: <span th:text="${user.getAllgreat()}"></span>
                                    粉丝数:<span th:text="${user.getAllnoticenum()}"></span>
                                </div>
                                </a>

                            </div>


                        </div>
                        <div th:if="${nulluser eq 0}">
                            <h2>没有用户叫这个鸭</h2>
                        </div>

                    </div>

                </div>

            </div>
            <div class="col-sm-1"></div>


        </div>

    </div>
</body>
</html>