<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/bootstrap-3.3.7-dist/js/jquery.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
    <script src="./ckeditor5/build/ckeditor.js"></script>
    <style>
        .ck-editor__editable { min-height: 300px; }
    </style>
</head>
<body>
<div th:replace="~{commons/adcommon::topbar}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons/adcommon::sidebar}"></div>
        <div class="col-sm-8">
            <div class="page-header" style="margin-top: -3px">
                <h1>博客添加</h1>
                <h2><a class="btn btn-sm btn-success" th:href="@{/getbot}">返回</a></h2>
            </div>
            <form id="blogform" th:action="@{/toadd}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label >标题</label>
                        <input type="text" name="title" class="form-control" placeholder="请输入标题"/>
                    </div>
                    <div class="form-group">
                        <label >分类</label>
                        <select  name="classifyid" class="form-control">
                            <option th:each="classify : ${classifies}"
                                    th:text="${classify.getClassifyname()}"
                                    th:value="${classify.getId()}"
                                    name="classifyid"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label >博客封面 上传</label>
                        <input type="file" name="file" >
                        <p class="help-block">文件</p>
                    </div>
                    <div class="form-group">
                        <label>内容</label>
                        <textarea  name="content" id="edit"  required class="form-control" placeholder="请输入博客内容"></textarea>

                        <script>
                            // 上面的编辑框
                            ClassicEditor
                                .create( document.querySelector( '#edit' ), {

                                    toolbar: {
                                        items: [
                                            'heading',
                                            '|',
                                            'bold',
                                            'italic',
                                            'link',
                                            'bulletedList',
                                            'numberedList',
                                            '|',
                                            'outdent',
                                            'indent',
                                            '|',
                                            'blockQuote',
                                            'undo',
                                            'redo'
                                        ]
                                    },
                                    language: 'zh-cn',
                                    table: {
                                        contentToolbar: [
                                            'tableColumn',
                                            'tableRow',
                                            'mergeTableCells'
                                        ]
                                    },
                                    licenseKey: '',


                                } )
                                .then( editor => {
                                    window.editor = editor;
                                } )
                                .catch( error => {
                                    console.error( 'Oops, something went wrong!' );
                                    console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
                                    console.warn( 'Build id: ibjq5v6l3gi2-rzn5b6r6hoyd' );
                                    console.error( error );
                                } );
                        </script>

                    </div>
                <div style="text-align: right;">
                    <input type="submit"  id="buttonform" class="btn btn-default" value="提交"/>
                </div>
                </form>

            </form>
        </div>
    </div>

</div>

<script>
    $(function () {

        $('#blogform').bootstrapValidator({
            //默认提示
            message:'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            /*


            submitHandler: function (validator, form, submitButton) {
                // 表单提交成功时会调用此方法
                // validator: 表单验证实例对象
                // form jq对象 指定表单对象
                // submitButton jq对象 指定提交按钮的对象
                console.log("使用了submitHandler");
            },
            */

            fields:{
                content: {
                    message: '验证失败',
                    validators: {
                        notEmpty:{
                            message:'内容不可以为空'
                        }
                    }
                },
                title:{
                    message:'标题验证错误',
                    validators:{
                        notEmpty:{
                            message:'标题不可以为空'
                        }
                    }
                }

            }
        });
    });
</script>
</body>
</html>